extends layout

block content
  h1 Users
  p here is a list of registered users:
  if users.length == 0
    i (None)
  else
    table
      tr 
        th username
        th fname 
        th lname
        th password
      each user in users 
        tr 
          td= user.username
          td= user.fname
          td= user.lname
          td= user.password